{{#each productos}}
    <tr>
        <td class="col-6">{{title}}</td>
        <td class="col-2">{{price}}</td>
        <td>
            <div style="height: 100px;">
                <img src={{thumbnail}} class="rounded mh-100" alt="...">
            </div>
        </td>
    </tr>
{{/each}}